@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&family=Lato:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

*:active {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/*
======
Header
======
*/
.header-container {
  display: flex;
  justify-content: space-between;
  position: relative;

  margin: 30px 144px 110px 144px;

  font-family: 'Jetbrains Mono';
  font-size: 18px;
  font-weight: 500;
}

.header-title {
  margin: 0;

  font-size: 18px;
  font-weight: 500;
}

.header-subtitle {
  font-weight: 400;
  color: #5b5b5b;
}

.hamburger {
  visibility: hidden;
  position: absolute;
  right: 0px;
  background-color: transparent;
  border: 0;
  padding: 6px;
  z-index: 20;
}

.hamburger svg {
  display: block;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;

  margin: 0;
  padding: 0;

  font-size: 16px;
}

.nav-items a {
  display: block;

  text-decoration: none;
  color: #000;
  line-height: 21px;
  width: 100%;
}

.nav-items a::after {
  content: '';
  display: block;

  background-color: #5f22d9;
  height: 2px;

  transform: scale(0%);
  transition: transform 0.2s ease-in-out;
}

.nav-items a:hover::after {
  transform: scale(100%);
}

.nav-items .active a {
  color: #5f22d9;
}

.nav-items button {
  background-color: transparent;
  border: 0;
  padding: 6px;
  border-radius: 999px;
  cursor: pointer;

  transition: background-color 0.15s ease-in-out;
}

.nav-items button:hover {
  background-color: #e4e4e4;
}

.nav-items svg {
  display: block;
}

/*
============
Section Main
============
*/
.section-main {
  display: flex;
  align-items: center;
  height: 406px;
  position: relative;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  margin-right: 148px;
  gap: 44px;
}

.title-image-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.section-title {
  font-size: 40px;
  font-weight: 400;
  white-space: nowrap;
  margin-bottom: 32px;
  line-height: 60px;
}

.section-title-wrapper {
  max-width: 440px;
}

.section-subtitle {
  font-size: 16px;
  font-weight: 500;
  color: #5b5b5b;
  line-height: 24px;
  margin-bottom: 42px;
}

.section-subtitle div:first-child {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.section-title div:last-child {
  font-weight: 500;
  color: #5f22d9;
}

.title-image-wrapper > img {
  width: 380px;
  position: absolute;
  right: 0;
  z-index: -10;
}

/*
================
Section Projects
================
*/
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 34px;
}

.card-wrapper {
  display: flex;
  gap: 24px;
  max-width: 100%;
}

.carret {
  font-size: 32px;
}

.ph-caret-left {
  margin-right: 8px;
}

.ph-caret-right {
  margin-left: 8px;
}

.card {
  width: 368px;
  height: 359px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.card img {
  border-radius: 12px 12px 0 0;
}

.card .description {
  padding: 24px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

/*
================
Section About Me
================
*/
.aboutme {
  width: 760px;
  margin: 0 auto;
  color: #5b5b5b;
}

/*
===============
Section Contact
===============
*/
.form-container {
  width: 760px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  margin-bottom: 82px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 368px;
}

.contact-form label {
  color: #5b5b5b;
  margin-bottom: 6px;
}

.contact-form input,
textarea {
  font-family: 'Lato';
  line-height: 18px;
  padding: 12px 14px;
  border: solid 2px transparent;
  border-radius: 6px;
  background: #e4e4e4;
  margin-bottom: 8px;
  resize: none;
  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.contact-form input:hover,
textarea:hover {
  border: solid 2px #d3d3d3;
}

.contact-form input:focus,
textarea:focus {
  background-color: #fff;
  border: solid 2px #363636;
}

.contact-form input:-webkit-autofill,
textarea:-webkit-autofill {
  border: solid 2px #e4e4e4;
  box-shadow: 0 0 0 30px #e4e4e4 inset;
  -webkit-box-shadow: 0 0 0 30px #e4e4e4 inset;
}

.contact-form input:-webkit-autofill:hover {
  border: solid 2px #d3d3d3;
}

.contact-form input:-webkit-autofill:focus {
  box-shadow: 0 0 0 30px #fff inset;
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  border: solid 2px #363636;
}

.btn.btn-whatsapp {
  margin-top: 10px;
  background-color: #47c758;
  align-self: end;
  outline-offset: 2px;
  outline: solid 2px transparent;
}

.btn.btn-whatsapp:active {
  background-color: #309c3e;
}

.btn.btn-whatsapp:focus {
  outline: solid 2px #47c758;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 46px;
  margin-top: 32px;
}

.contact-info i {
  font-size: 32px;
}

.contact-info .info {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* 
======
Footer
======
*/
footer {
  background-color: #5f22d9;
  font-size: 14px;
  color: #fff;
  padding: 96px 144px 34px 144px;
}

.footer-container {
  display: flex;
  margin-bottom: 96px;
}

.footer-title {
  font-family: 'Jetbrains Mono', sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  margin-right: 330px;
}

.footer-title span:last-child {
  color: #e4e4e4;
}

.social-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-items-container {
  display: flex;
  width: 100%;
  gap: 200px;
}

.social-items .item {
  display: flex;
  gap: 12px;
}

.social-items .item span {
  line-height: 24px;
}

.social-items .item i {
  font-size: 24px;
}

.footer-copy {
  text-align: center;
}

/* 
=======
General
=======
*/
.section {
  margin: 0 144px;
}

section h1 {
  font-size: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 42px;
}

hr {
  margin: 60px auto;
  width: 368px;
  border: 0;
  border-bottom: solid 1px #e4e4e4;
}

.btn {
  background-color: #5f22d9;
  color: #fff;
  display: flex;
  gap: 12px;
  border: 0;
  border-radius: 6px;
  padding: 12px 24px;
  line-height: 24px;
  cursor: pointer;
  user-select: none;
  transition: outline 0.15s ease-in-out;
  width: fit-content;
  outline-offset: 2px;
  outline: solid 2px transparent;
}

.btn:active {
  background-color: #5323b3;
}

.btn:focus {
  outline: solid 2px #5f22d9;
}

.btn i {
  font-size: 24px;
}

.btn-scroll-top {
  position: fixed;
  right: 32px;
  bottom: 32px;
  display: flex;
  background-color: #8757e5;
  border: 0;
  padding: 12px;
  border-radius: 999px;
  box-shadow: 0 4px 8px #00000073;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out,
    bottom 0.15s ease-in-out;
}

.btn-scroll-top.active {
  visibility: visible;
  opacity: 1;
}

.btn-scroll-top:hover {
  bottom: 36px;
}

.btn-scroll-top i {
  font-size: 32px;
  color: #fff;
}

a {
  text-decoration: none;
  color: unset;
}

/* 
=====================
General Media Queries
=====================
*/
@media screen and (max-width: 1024px) {
  hr {
    width: 226px;
  }

  .section {
    margin: 0 16px 0 16px;
  }
}

/* 
====================
Header Media Queries 
====================
*/
@media screen and (max-width: 1024px) {
  .header-container {
    flex-direction: column;
    margin: 18px 16px 42px 16px;
  }

  .header-nav {
    visibility: hidden;
    justify-content: center;
    clip-path: inset(0 0 100% 0);
    transition: clip-path 0.5s ease-in-out, visibility 0.5s ease-in-out;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    background-color: #fff;
    z-index: 10;
    padding: 42px 0;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  }

  .header-nav.active {
    visibility: visible;
    clip-path: inset(0 0 -20% 0);
  }

  .nav-items {
    flex-direction: column;
  }

  .hamburger {
    visibility: visible;
  }
}

/*
==========================
Section Main Media Queries
==========================
*/
@media screen and (max-width: 1024px) {
  .title-image-wrapper img {
    display: none;
  }

  .section-title-wrapper {
    width: 100%;
  }

  .section-title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 24px;
  }

  .social-buttons {
    display: none;
  }

  .section-subtitle div:first-child {
    font-size: 16px;
  }

  .section-subtitle {
    font-size: 16px;
  }

  .btn-section-main {
    justify-content: center;
    width: 100%;
  }
}

/*
==============================
Section Projects Media Queries
==============================
*/
