@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&family=Lato:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --green-primary: #47c758;
  --green-secondary: #309c3e;
  --primary: #00a8ff;
  --secondary: #008bd1;
}

/* Light Vars */
:root:not(.dark) {
  --background: #ffffff;
  --text-primary: #000000;
  --text-secondary: #5b5b5b;
  --gray-primary: #e4e4e4;
  --gray-secondary: #c2c2c2;
}

/* Dark Vars */
:root.dark {
  --background: #18181b;
  --text-primary: #f4f4f5;
  --text-secondary: #bbbbbb;
  --gray-primary: #3f3f46;
  --gray-secondary: #71717a;
}

html {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
  color: var(--text-primary);
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

*:active {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/*
======
Header
======
*/
.header-container {
  display: flex;
  justify-content: space-between;
  position: relative;

  margin: 30px 144px 110px 144px;

  font-family: 'Jetbrains Mono';
  font-size: 18px;
  font-weight: 500;
}

.header-title {
  margin: 0;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
}

.header-subtitle {
  font-weight: 400;
  color: var(--text-secondary);
}

.hamburger {
  visibility: hidden;
  position: absolute;
  right: 6px;
  top: 6px;
  background-color: transparent;
  border: 0;
  padding: 0;
  z-index: 20;
  color: var(--text-primary);
}

.hamburger svg {
  display: block;
}

.hamburger path {
  color: var(--text-primary);
  stroke: var(--text-primary);
}

.header-nav {
  display: flex;
  align-items: center;
  background-color: var(--background);
}

.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;

  margin: 0;
  padding: 0;

  font-size: 16px;
}

.nav-items a {
  display: block;

  text-decoration: none;
  color: var(--text-primary);
  line-height: 21px;
  width: 100%;
}

.nav-items a::after {
  content: '';
  display: block;

  background-color: var(--primary);
  height: 2px;

  transform: scale(0%);
  transition: transform 0.2s ease-in-out;
}

.nav-items a:hover::after {
  transform: scale(100%);
}

.nav-items .active a {
  color: var(--primary);
}

.nav-items button {
  background-color: transparent;
  border: 0;
  padding: 6px;
  border-radius: 999px;
  cursor: pointer;
  color: var(--text-primary);

  transition: background-color 0.15s ease-in-out;
}

.nav-items button:hover {
  background-color: var(--gray-primary);
}

.nav-items svg {
  display: block;
}

#dark-toggler svg {
  width: 21px !important;
  height: 21px !important;
}

#dark-toggler path {
  fill: var(--text-primary);
  stroke: var(--text-primary);
}

/*
============
Section Main
============
*/
.section-main {
  display: flex;
  align-items: center;
  height: 406px;
  position: relative;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  margin-right: 148px;
  gap: 44px;
}

.social-icon {
  color: var(--primary);
  font-size: 46px;
}

.title-image-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.section-title {
  font-size: 40px;
  font-weight: 400;
  white-space: nowrap;
  margin-bottom: 32px;
  line-height: 60px;
}

.section-title .blinking-cursor {
  user-select: none;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

.section-title-wrapper {
  max-width: 440px;
}

.section-subtitle {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-secondary);
  line-height: 24px;
  margin-bottom: 42px;
}

.section-subtitle div:first-child {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.section-title div:last-child {
  font-weight: 500;
  color: var(--primary);
}

.title-image-wrapper > img {
  width: 380px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
  animation: float 8s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/*
================
Section Projects
================
*/
div.swiper {
  max-width: 760px;
  overflow-y: visible;
  margin-bottom: 18px;
}

.swiper-button-prev::after {
  color: var(--primary);
}

.swiper-button-next::after {
  color: var(--primary);
}

.swiper-button-disabled::after {
  visibility: hidden;
}

.swiper-button-disabled::after {
  visibility: hidden;
}

.card {
  height: 359px;
  margin: 0 auto;
  background-color: var(--gray-primary);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  transition: transform 0.2s ease-in-out;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.card .title {
  padding: 0 24px;
  margin: 8px 0;
  font-size: 18px;
  font-weight: 600;
}

.card .description {
  padding: 0 24px;
  font-family: 'Lato';
}

.card .error {
  padding: 24px;
  color: rgb(255, 255, 255);
}

.swiper-slide:hover .card {
  filter: brightness(1.2);
  transform: scale(0.95);
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

/*
================
Section About Me
================
*/
.aboutme {
  width: 760px;
  margin: 0 auto;
  color: var(--text-secondary);
}

/*
===============
Section Contact
===============
*/
.form-container {
  width: 760px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  margin-bottom: 82px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 368px;
}

.contact-form label {
  color: var(--text-secondary);
  margin-bottom: 6px;
}

.contact-form input,
textarea {
  font-family: 'Lato';
  line-height: 18px;
  padding: 12px 14px;
  border: solid 2px transparent;
  border-radius: 6px;
  background: var(--gray-primary);
  color: var(--text-primary);
  margin-bottom: 8px;
  resize: none;
  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.contact-form input:hover,
textarea:hover {
  border: solid 2px var(--gray-secondary);
}

.contact-form input:focus,
textarea:focus {
  background-color: var(--background);
  border: solid 2px var(--text-secondary);
}

.contact-form input:-webkit-autofill,
textarea:-webkit-autofill {
  border: solid 2px var(--gray-primary);
  -webkit-text-fill-color: var(--text-primary);
  box-shadow: 0 0 0 30px var(--gray-primary) inset;
  -webkit-box-shadow: 0 0 0 30px var(--gray-primary) inset;
}

.contact-form input:-webkit-autofill:hover {
  border: solid 2px var(--gray-secondary);
}

.contact-form input:-webkit-autofill:focus {
  box-shadow: 0 0 0 30px var(--background) inset;
  -webkit-box-shadow: 0 0 0 30px var(--background) inset;
  border: solid 2px var(--gray-secondary);
}

.btn.btn-whatsapp {
  margin-top: 10px;
  background-color: var(--green-primary);
  align-self: end;
  outline-offset: 2px;
  outline: solid 2px transparent;
}

.btn.btn-whatsapp:active {
  background-color: var(--green-secondary);
}

.btn.btn-whatsapp:focus {
  outline: solid 2px var(--green-primary);
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 46px;
  margin-top: 32px;
}

.contact-info i {
  font-size: 32px;
}

.contact-info .info {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* 
======
Footer
======
*/
footer {
  background-color: var(--primary);
  font-size: 14px;
  font-weight: 500;
  color: #000;
  padding: 96px 144px 34px 144px;
}

.footer-container {
  display: flex;
  margin-bottom: 96px;
}

.footer-title {
  font-family: 'Jetbrains Mono', sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  margin-right: 330px;
}

.footer-title span:last-child {
  color: rgb(22, 22, 22);
}

.social-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-items-container {
  display: flex;
  width: 100%;
  gap: 200px;
}

.social-items .item {
  display: flex;
  gap: 12px;
}

.social-items .item span {
  line-height: 24px;
}

.social-items .item i {
  font-size: 24px;
}

.footer-copy {
  text-align: center;
}

/* 
=======
General
=======
*/
.section {
  margin: 0 144px;
}

section h1 {
  font-size: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 42px;
}

hr {
  margin: 60px auto;
  width: 368px;
  border: 0;
  border-bottom: solid 1px var(--gray-primary);
}

.btn {
  background-color: var(--primary);
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 12px;
  border: 0;
  border-radius: 6px;
  padding: 12px 24px;
  line-height: 24px;
  cursor: pointer;
  user-select: none;
  transition: outline 0.15s ease-in-out;
  width: fit-content;
  outline-offset: 2px;
  outline: solid 2px transparent;
  box-sizing: border-box;
}

.btn:active {
  background-color: var(--secondary);
}

.btn:focus {
  outline: solid 2px var(--primary);
}

.btn i {
  font-size: 24px;
}

.btn-scroll-top {
  position: fixed;
  right: 32px;
  bottom: 32px;
  display: flex;
  background-color: var(--secondary);
  border: 0;
  padding: 12px;
  border-radius: 999px;
  box-shadow: 0 4px 8px #00000073;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out,
    bottom 0.15s ease-in-out;
}

.btn-scroll-top.active {
  visibility: visible;
  opacity: 1;
}

.btn-scroll-top:hover {
  bottom: 36px;
}

.btn-scroll-top i {
  font-size: 32px;
  color: #fff;
}

a {
  text-decoration: none;
  color: unset;
}

/* 
=====================
General Media Queries
=====================
*/
@media screen and (max-width: 767px) {
  hr {
    width: 226px;
  }

  .section {
    margin: 0 16px 0 16px;
  }
}

/* 
====================
Header Media Queries 
====================
*/

@media screen and (max-width: 1024px) {
  .header-container {
    flex-direction: column;
    margin: 30px 72px 110px 72px;
  }

  .header-nav {
    visibility: hidden;
    justify-content: center;
    clip-path: inset(0 0 100% 0);
    transition: clip-path 0.5s ease-in-out, visibility 0.5s ease-in-out;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    /* background-color: #fff; */
    z-index: 10;
    padding: 42px 0;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  }

  .header-nav.active {
    visibility: visible;
    clip-path: inset(0 0 -20% 0);
  }

  .nav-items {
    flex-direction: column;
  }

  .hamburger {
    visibility: visible;
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    margin: 18px 16px 42px 16px;
  }
}

/*
==========================
Section Main Media Queries
==========================
*/
@media screen and (max-width: 1023px) {
  .title-image-wrapper img {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .section-main {
    height: fit-content;
  }

  .section-title-wrapper {
    width: 100%;
    max-width: unset;
  }

  .section-title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 24px;
  }

  .social-buttons {
    display: none;
  }

  .section-subtitle div:first-child {
    font-size: 16px;
  }

  .section-subtitle {
    font-size: 16px;
  }

  .btn-section-main {
    justify-content: center;
    width: 100%;
  }
}

/*
==============================
Section Projects Media Queries
==============================
*/
@media screen and (max-width: 767px) {
  .btn-section-projects {
    width: 100%;
  }

  div.swiper {
    width: 100%;
  }
}

/*
==============================
Section About Me Media Queries
==============================
*/
@media screen and (max-width: 767px) {
  .aboutme {
    width: 100%;
    text-align: justify;
  }
}

/*
==============================
Section Contacts Media Queries
==============================
*/
@media screen and (max-width: 767px) {
  .form-container {
    flex-direction: column;
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }

  .contact-info .info {
    font-size: 14px;
    word-wrap: break-word;
  }

  .contact-info .info i {
    font-size: 24px;
  }

  .btn.btn-whatsapp {
    justify-self: unset;
    width: 100%;
  }
}

/*
==============================
Footer Media Queries
==============================
*/
@media screen and (max-width: 767px) {
  footer {
    padding: 30px 16px;
  }

  .footer-title {
    margin-right: 0;
    margin-bottom: 36px;
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
    margin-bottom: 36px;
  }

  .social-items-container {
    gap: 0;
    justify-content: space-between;
  }
}
